# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives__
- Categories of Data Science
- Languages of Data Science
   - Python
   - R 
   - SQL
- Libraries for Data Science

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Tensorflow
3. Pandas

| Data Science Tools |
---------------------
| Jupyter Notebook |
| Rstudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
a = 6
b = 5 
c = 6*5
print (c)

30

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
Minutes = 200
Hours = Minutes/60
print(Hours)

3.3333333333333335

## Author
Shashwat Vyas